<main style="text-align:center">
  <h1>Login</h1>
  <form method="POST">
    <input name="username" placeholder="Username" required><br>
    <input name="password" placeholder="Password" type="password" required><br>
    <button type="submit">Login</button>
  </form>
  <a href="/register">Register</a> | <a href="/reset">Reset Password</a>
</main>
