<main style="text-align:center">
  <h1>Reset Password</h1>
  <form method="POST">
    <input name="username" placeholder="Username" required><br>
    <input name="password" placeholder="New Password" type="password" required><br>
    <button type="submit">Reset</button>
  </form>
</main>
